<h1>Editing Plant Record</h1>

<%= render 'form', plant_record: @plant_record %>

<hr>

<div class="text-center">
  <%= link_to 'Show', @plant_record, class: "btn btn-link"%>
  <%= link_to 'Back', plant_records_path, class: "btn btn-light" %>
</div>
