<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Arboleo', root_path, class:"navbar-brand h1"%>
    <%= link_to 'Registros', plant_records_path, class:"navbar-text"%>
  </div>
</nav>
